<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="ticket">
	<select id="movieList" resultType="TicketDTO">
		select idx movie_idx,title,age,release_date from movie order by release_date
	</select>
	<select id="screenTime" resultType="TicketDTO">
		select screen_idx,start_time,t.name t_name,empty_sit 
		from screen_info s, theater t
		where s.theater_idx=t.idx  and start_time > to_date(#{start_date},'yyyy-MM-dd') 
		and to_date(#{end_date},'yyyy-MM-dd') > start_time and movie_idx=#{movie_idx}
		order by start_time
	</select>
	<select id="selectMovie" resultType="TicketDTO">
	  	select title,age,img_url from movie where idx=#{movie_idx}
	</select>
	<select id="selectTime" resultType="TicketDTO">
		select start_time,t.name t_name
		from screen_info s, theater t
		where  s.theater_idx=t.idx  and screen_idx=#{screen_idx}
	</select>
</mapper>














