<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="detail">
	
	<!-- 영화 스틸컷 -->
	<select id="stillcut" resultType="com.comnawa.mvcinema.sangjin.model.dto.StillcutDTO">
		select s.img_url from movie m, stillcut s where m.idx=s.idx and m.idx=#{idx}
	</select>
	
	<select id="memo_just_one" resultType="String">
		select userid from memo where userid=#{userid} and idx=#{idx}
	</select>
	
	<insert id="insertmemo">
		insert into memo (idx, comment_num, userid, memo, score) 
		values (#{idx}, memo_seq.nextval, #{userid}, #{memo}, #{score})
	</insert>
	
	<update id="updatememo">
		update memo set memo=#{memo}, score=#{score} where comment_num=#{comment_num}
	</update>
	
	<delete id="deletememo">
		delete from memo where comment_num=#{comment_num}
	</delete>
	
	<select id="memolist" resultType="com.comnawa.mvcinema.sangjin.model.dto.MemoDTO">
		<include refid="paging_header" />
		select idx, comment_num, score, userid, memo, post_date 
		from memo where idx=#{idx} order by post_date desc
		<include refid="paging_footer" />
	</select>
	
		<!-- 레코드 갯수 계산 -->
	<select id="countMemo" resultType="int">
		select count(*)
		from memo where idx=#{idx}
	</select>
	<delete id="memo_signout_memo">
		delete from memo where userid=#{userid}
	</delete>

	<sql id="paging_header">
		select *
		from (
		select rownum as rn, A.*
		from (
	</sql>
	<sql id="paging_footer">
		) A
		) where rn between #{start} and #{end}
	</sql>
	
</mapper>














