<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="support">
	
	<select id="oto_view" resultType="com.comnawa.mvcinema.sangjin.model.dto.ContactDTO">
		select idx, c.userid, name, m.email, c.title, c.content, c.admin_content, c.admin_post_date
		from member m, admin_contact c 
		where m.userid=c.userid and idx=#{idx}
	</select>
	
	<select id="countOto" resultType="int">
		select count(*) from admin_contact where userid=#{userid}
	</select>
	
	<select id="countfaq" resultType="int">
		select count(*) from faq
	</select>
	
	<select id="userInfo" resultType="com.comnawa.mvcinema.sungwon.model.member.dto.MemberDTO">
		select userid, name, email from member where userid=#{userid}
	</select>
	
	<select id="notice" resultType="com.comnawa.mvcinema.sangjin.model.dto.NoticeDTO">
		select * from notice
	</select>

	<select id="oto_list" resultType="com.comnawa.mvcinema.sangjin.model.dto.ContactDTO">
		<include refid="paging_header" />
		select * from admin_contact where userid=#{userid} order by post_date desc
		<include refid="paging_footer" />
	</select>
	
	<insert id="insert">
		insert into admin_contact (idx, userid, title, content)
		values (seq_contact_idx.nextval, #{userid}, #{title}, #{content})
	</insert>
	
	<delete id="deleteAll">
		delete from admin_contact where userid=#{userid}
	</delete>
	
	<delete id="deleteOne">
		delete from admin_contact where idx=#{idx}
	</delete>
	
	<sql id="paging_header">
		select *
		from (
		select rownum as rn, A.*
		from (
	</sql>
	<sql id="paging_footer">
		) A
		) where rn between #{start} and #{end}
	</sql>
	
</mapper>














