<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="admin">

  <select id="login" resultType="com.comnawa.mvcinema.insang.model.dto.AdminDTO">
    select id from admin where id=#{id} and passwd=#{passwd}
  </select>
  
  <select id="getTheaterList" resultType="com.comnawa.mvcinema.insang.model.dto.TheaterDTO">
    select idx, name, seat_max, price, preview from theater order by name
  </select>
  
  <select id="getTheaterSitList" resultType="com.comnawa.mvcinema.insang.model.dto.TheaterSitDTO">
    select * from theater_sit order by name
  </select>
  
  <select id="getMaxIDX2" resultType="int">
    select nvl(max(idx),100) from theater where idx>100
  </select>
  
  <select id="getMaxIDX1" resultType="int">
    select nvl(max(idx),0) FROM theater WHERE 101>idx
  </select>

  <select id="getCountIDX" resultType="int">
    select nvl(count(idx),1) from theater
  </select>
  
  <insert id="addTheater1">
    insert into theater values(#{idx}, #{name}, #{max}, 0, #{price}, #{preview})
  </insert>
  
  <insert id="addTheater2">
    insert into theater_sit values(#{idx}, #{rows}, #{cols}, null, #{name})
  </insert>
  
  <update id="updateTheater1">
    update theater set idx=#{idx}, name= #{name}, seat_max= #{max}, seat_out= 0, price= #{price}, preview= #{preview}
    where name= #{primaryName} 
  </update>
  
  <update id="updateTheater2">
    update theater_sit set idx= #{idx}, seat_row= #{rows}, seat_col= #{cols}, name= #{name}
    where name= #{primaryName}
  </update>
  
  <select id="genreList" resultType="com.comnawa.mvcinema.insang.model.dto.GenreDTO">
    select idx, genre from genre
  </select>
  
  <insert id="insertMovie">
    INSERT INTO movie (idx, title, age, director, actors, content, genre, release_date, runtime, img_url, preview)
    values (movie_idx_seq.nextval, #{title}, #{age}, #{director}, #{actors}, #{content}, #{genre}, #{release_date}, #{runtime}
    , #{img_url}, #{preview})
  </insert>
  
  <select id="movieList" resultType="com.comnawa.mvcinema.insang.model.dto.Insang_MovieDTO">
    select * from movie order by idx
  </select>
  
</mapper>














