<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="admin">

  <select id="login" resultType="com.comnawa.mvcinema.insang.model.dto.AdminDTO">
    select id from admin where id=#{id} and passwd=#{passwd}
  </select>
  
  <select id="getTheaterList" resultType="com.comnawa.mvcinema.insang.model.dto.TheaterDTO">
    select idx, name, seat_max, preview from theater order by name
  </select>
  
  <select id="getTheaterSitList" resultType="com.comnawa.mvcinema.insang.model.dto.TheaterSitDTO">
    select * from theater_sit order by name
  </select>
  
  <select id="getMaxIDX2" resultType="int">
    select max(idx) from theater where idx>100
  </select>
  
  <select id="getMaxIDX1" resultType="int">
    SELECT max(idx) FROM theater WHERE 101>idx
  </select>

  <select id="getCountIDX" resultType="int">
    select count(idx) from theater
  </select>
  
  <insert id="addTheater1">
    insert into theater values(#{idx}, #{name}, #{max}, 0, #{price}, #{preview})
  </insert>
  
  <insert id="addTheater2">
    insert into theater_sit values(#{idx}, #{rows}, #{cols}, null)
  </insert>
  
</mapper>














