@CHARSET "UTF-8";

table {
	width: 100%;
	cellpadding: 15px;
}

td {
	padding: 10px;
}

td.td_lable {
	width: 15%;
}

td.td_input {
	width: 65%;
}

td.td_button {
	width: 40%;
}

label.label.label-default {
	font-size: 18px;
}